
.nav_signup{
    text-decoration: none;
    color: black;
    

}
li{
    list-style-type: none;
}
.nav_signup:hover{
    color: rgb(93, 145, 102);

}
.nav_link{
    text-decoration: none;
    color: black;

}
.form-control{
    width: 50%;

}